@page
@model RoomAllocation.Pages.ListRooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListRoom[0].Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListRoom[0].Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListRoom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ListRoomID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ListRoomID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ListRoomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
